<form name="email-form" data-name="Email Form" id="addFriendForm" role="form">
      <label class="instructions" for="name">s e a r c h &nbsp; f o r &nbsp; a &nbsp; s t a t i o n :</label>
      <input class="w-input formfield" type="text" placeholder="search blank query for all machines." id="name" name="field"></input>
      <input class="w-button button" type="submit" id="submitBtn" value="search" data-wait="Searching for stations..."></input>
 </form>

   <ul id="list">
  </ul>