<center>
	<h1>Who are you watching with?</h1>
	<p>Search for your friends by username:</p>
	<select class="js-example-basic-multiple" name="group" form="friendsform" multiple="multiple" style="width: 90%">
		{{#each users}}
			<option value={{id}}>{{username}}</option>
		{{/each}}
	</select>
	<form id="friendsform" style="margin-top: 40px;" action="/findmovie" method="POST">
		<input type="hidden" value=0 name="index"/>
		<center><button type="submit" class="btn btn-default">Let's Go!</button></center>
	</form>
	<script>
		$(".js-example-basic-multiple").select2();
	</script>
</center>