<center>
	<br/>
	<h1>No more arguing over what to watch.</h1>
	<br/>
	<h3>Watch With Us recommends movies for you and your friends to watch together!</h3>
	<br/>
	<a href="/login" class="btn btn-default btn-lg" role="button">Login</a>
	<br/><br/>
	<a href="/createaccount" class="btn btn-default btn-lg" role="button">Sign Up</a>
</center>