<center>
	<h2>Login</h1>
</center>
<form style="margin-top: 40px;" action="/mainmenu" method="POST">
	<div class="form-group">
		{{#if errorMessage}}
			<p class = "errorMessage">Email or password incorrect.</p>
		{{/if}}
		<label for="emailinput">Email address</label>
		<input type="email" class = "form-control" id="emailinput" name="email" placeholder="Enter email">
	</div>
	<div class="form-group">
	    <label for="passwordinput">Password</label>
	    <input type="password" class="form-control" id="passwordinput" name="password" placeholder="Password">
	</div>
	<center><button type="submit" class="btn btn-default">Login</button></center>
</form>
<div style="margin-top: 40px;">
	<center>
		<a href="/forgot">Forgot?</a>
		<br/>
		<a href="/createaccount">New User</a>
	</center>
</div>