body {
	background-color: #eaf9f0;
  	font: 16px "Droid Serif", Helvetica, Arial, sans-serif;
  	color: color: #12512d;;
}

h1 {
	font-family: 'Fredoka One', cursive;
	color: #12512d;
}

h2 {
	font-family: 'Fredoka One', cursive;
	color: #12512d;
}

h3 {
	font-family: 'Fredoka One', cursive;
	color: #12512d;
}

h4 {
	font-family: 'Fredoka One', cursive;
	color: #12512d;
}

h5 {
	font-family: 'Fredoka One', cursive;
	color: #12512d;
}

p {
	font-family: 'Fredoka One', cursive;
	color: #12512d;
}

.btn-default {
  color: #ffffff;
  background-color: #27ae60;
  border-color: #12512d;
  border-radius: 8px;
  border-width: 3px;
  font-family: 'Fredoka One', cursive;
}
.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  color: #12512d;
  background-color: #27ae60;
  border-color: #12512d;
}

.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
  background-color: #7AE1A5;
  border-color: #12512d;
  color: #333;
}

.container-fluid {
	padding-right: 0px;
	padding-left: 0px;
}

.errorMessage {
	color: red;
}

.header {
	/*background-color: #BA1509;*/
	background-color: #27ae60
	width: 100%;
	height: 80px;
	position: fixed;
}

.navbar {
	/*background-color: #BA1509;*/
	background-color: #27ae60;
	width: 100%;
	border-radius: 0px;
	position: fixed;
	padding-left:10px;
}

.main {
	margin-top:70px;
	padding-left:10px;
	padding-right:10px;
}

.navbar-brand {
	font-family: 'Fredoka One', cursive;
	font-size:27px;
}

.logout {
	font-size:18px;
	float:right;
	margin-right:5px;
}

.navbar-default .navbar-brand {
  color: #ffffff;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: white;
}

.spinner {
  display: inline-block;
  opacity: 0;
  width: 0;

  -webkit-transition: opacity 0.25s, width 0.25s;
  -moz-transition: opacity 0.25s, width 0.25s;
  -o-transition: opacity 0.25s, width 0.25s;
  transition: opacity 0.25s, width 0.25s;
}

.progress-bar {
	background-color: #12512d;
}

.has-spinner.active {
  cursor:progress;
}

.has-spinner.active .spinner {
  opacity: 1;
  width: auto; /* This doesn't work, just fix for unkown width elements */
}

.has-spinner.btn-mini.active .spinner {
    width: 10px;
}

.has-spinner.btn-small.active .spinner {
    width: 13px;
}

.has-spinner.btn.active .spinner {
    width: 16px;
}

.has-spinner.btn-large.active .spinner {
    width: 19px;
}